*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-bg-color: #4161bf;
  --main-bg-color-hover: #2f4faf;
  --carousel-bg-color: #ffffff;
  --item-bg-color: #f9f9f9;
  --item-border-color: #ccc;
  --text-color: #333;
  --highlight-color: #4161bf;
  --odd-item-bg-color: #e9e9e9;
}

html {
  height: 100%;
}

body {
  background-color: #f0f0f0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
}

nav {
  background-color: var(--main-bg-color);
  width: 100%;
  padding: 0.9375rem 0;
  margin-bottom: 1.25rem;
  display: flex;
  justify-content: center;
}

nav a,
nav button {
  color: white;
  margin: 0 0.9375rem;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
}

nav a:hover,
nav button:hover {
  text-decoration: underline;
}

h1,
h2 {
  color: var(--text-color);
  margin-top: 0;
}

h1,
h2 {
  margin: 1.25rem 0;
  text-align: center;
}

footer {
  background-color: var(--main-bg-color);
  width: 100%;
  padding: 0.625rem 0;
  text-align: center;
  color: white;
  margin-top: auto;
}

#content {
  min-width: 75%;
}

#prox_vuelos {
  color: var(--highlight-color);
}

.carousel {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  background-color: var(--carousel-bg-color);
  border-radius: 0.625rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}

.carousel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  animation: scroll 20s linear infinite;
}

.carousel table {
  width: 100%;
  border-collapse: collapse;
}

.carousel th, .carousel td {
  padding: 1.25rem;
  border-bottom: 1px solid var(--item-border-color);
  background-color: var(--item-bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease;
}

.carousel tr:nth-child(odd) th, .carousel tr:nth-child(odd) td {
  background-color: var(--odd-item-bg-color);
}

.carousel th:hover, .carousel td:hover {
  background-color: var(--highlight-color);
  color: white;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}